<nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="user">
            <%= user._json['username'] || "VOID" %>
        </li>
        <li>
            <form action="/logout" method="post">
                <button class="logout" type="submit">Sign out</button>
            </form>
        </li>
    </ul>
</nav>