<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Strava Express App</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/index.css">
</head>

<body>
	<section class="stravaapp">

		<section>
			<a class="button strava" href="/login/federated/strava">Sign in with Strava</a>
		</section>
	</section>
</body>

</html>
