<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Express • TodoMVC</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<section class="todoapp">
		<nav class="nav">
			<ul>
				<li class="user">
					<%= user._json['username'] || "VOID" %>
				</li>
				<li>
					<form action="/logout" method="post">
						<button class="logout" type="submit">Sign out</button>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					</form>
				</li>
			</ul>
		</nav>


</body>
<script>
	// var User = <%= user %>
	console.log(JSON.parse('<%- JSON.stringify(user._json) %>'));
</script>

</html>
